extends !templates/basic

block nav
	mixin nav()

block main
	p.motto.
		Getting more done after 2<span class='small-caps'>am</span> than most people do all day.
	p.intro.
		Since 1976, Computer Science House has provided a revolutionary living and learning environment for its members. With unique facilities, emphasis on hands-on learning and a strong social atmosphere, CSH helps its members grow as professionals and more.
	p.button.
		Learn More
	img(src='imgs/junior.svg', alt='PC junior')