// COLORS
$green:#5ba215;

// VARIABLES
$font-size:18;
$line-height:1.6111;

// IMPORTS
@import "general/normalize";
@import "general/mixins";
@import "general/extends";
@import "general/helpers";

@import "elements/a";
@import "elements/body";
@import "elements/html";
@import "elements/main";
@import "elements/nav";
@import "elements/selection";

@import "items/main-nav";
@import "items/button";
@import "items/linked-img";

@import "templates/splash";