include ../!mixins/nav

!!! 5
html(lang='en')
	head
		title Computer Science House

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='dns-prefetch', href='//fonts.googleapis.com')
		link(rel='dns-prefetch', href='//google-analytics.com')

		script(src='scripts.min.js')

		link(rel='icon', href='favicon.png')
		link(rel='stylesheet', href='style.min.css')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400')

	body
		block nav
		main
			block main